*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'black';
    font-weight:400;
    src:url(../font/poppins-black-webfont.woff2) format('woff2'),
        url(../font/poppins-black-webfont.woff) format('woff');
}

@font-face {
    font-family: 'medium';
    src:url(../font/poppins-medium-webfont.woff2) format('woff2'),
        url(../font/poppins-medium-webfont.woff) format('woff');
}

@font-face {
    font-family: 'regular';
    src:url(../font/poppins-regular-webfont.woff2) format('woff2'),
        url(../font/poppins-regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'light';
    src:url(../font/poppins-light-webfont.woff2) format('woff2'),
        url(../font/poppins-light-webfont.woff) format('woff');
}

section {
    width: 100%;
    height: 100vh;
    padding: 25px 5%;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}

nav{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

nav .logo{
    width: 225px;
    cursor: pointer;
    transition: transform 1s;
}

nav .logo:hover{
    transform: scale(1.1);
}

nav .menu-img{
    width: 40px;
    cursor: pointer;
    transition: transform 0.5s;
}

nav .menu-img:hover{
    transform: scale(1.1);
}

nav ul{
    flex: 1;
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
}

nav ul li{ 
    list-style: none;
    display:inline-block;
    margin: 10px 30px;
    font-family: 'regular';
    border: 2px solid  #72fa93;
    border-radius: 20px;
    border-top-right-radius: 0;
    padding: 10px;
    transition: 1s;
    width:6rem;
    text-align: center;
    background-color:#F5F5DC;
}

.custom-link{ 
    background-image:linear-gradient( 50deg, #72fa93, #a0e548);
    box-shadow: black 2px 1px;
}

nav ul li:hover{ 
    background-color:  #72fa93;
    box-shadow: black 2px 1px;
    background-image:linear-gradient( 50deg, #72fa93, #a0e548);
    border-top-right-radius: 20px;
 }
 
nav ul li a{
    text-decoration:none;
    color: black;
    font-weight: 600;
    position: relative;
    font-size:15px;
}

.btn{
    display:inline-block;
    font-family: 'regular';
    border: 2px solid #72fa93;
    color:black;
    text-decoration:none;
    position: relative;
    border-radius: 20px;
    border-top-right-radius: 0;
    padding: 15px;
    transition: 1s;
    width:8rem;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    background-color:#F5F5DC;
}

.btn:hover{
    background-color:  #72fa93;
    box-shadow: black 2px 1px;
    background-image:linear-gradient( 50deg, #72fa93, #a0e548);
    border-top-right-radius: 20px;
}

.content{
    margin-top: 10%;
    max-width: 600px;
}

h1{
    font-size: 70px;
    font-family: 'black';
}

h2{
    font-size:20px;
    font-family:'black';
}

.content p{
    margin: 15px 0 30px;
    font-family: 'regular';
    font-size: 18px;
}


.flex-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.slideshow-container {
    position: relative;
    max-width: 50%; 
    margin-right: 20px; 
    margin-top: 100px;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.fade {
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}


.content {
    max-width: 45%; 
}


@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; 
        align-items: center; 
    }

    .slideshow-container, .content {
        max-width: 100%; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }
}

